.sched-box {
    font-size: medium;
}

table, tr, th {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    height: 100%;
}

th {
    height: 50%;
}

.class {
    background-color: #6666ff;
}

.study {
    background-color: #bbbbff;
}

.work {
    background-color: #66ff66;
}

.extra {
    background-color: #ffff66;
}

.dep {
    background-color: #ff6666;
}
